{% extends 'books/base.html' %}
{% block content %}
    <form method="POST" novalidate>
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ field.label_tag }} <span class="error">{{ error }}</span></p>
            {% endfor %}
        {% endfor %}
        {% endif %}

        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <h5>{{ field.label_tag }}</h5>
                {{ field }}
            </div>
        {% endfor %}
        <div class="form-group">
            {% if object %}
                <input class="btn btn-light" type="submit" value="Update">
            {% else %}
                <input class="btn btn-light" type="submit" value="Create">
            {% endif %}
        </div>
    </form>
{% endblock content %}