{% extends 'books/base.html' %}
{% load static %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            {% for book in books %}
                <div class="col-sm-5 mt-5 book-list">
                    {% include 'books/book_data.html' %}
                    <div class="form-check form-switch">
                        <span data-book="{{ book.isbn_num }}" data-action="not-added">{{ form }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <input class="btn btn-light edit-btn" type="submit" value="Import" onclick="fetchData()">
    </form>
    {% block javascript %}
        <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock javascript %}
{% endblock content%}