<!-- Modal -->
<form method="POST" id="ImportFormConfirm">
    {% csrf_token %}
    <div class="modal fade" id="exampleModalCenter" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div style="width:100%; max-width:1820px; margin: auto;" class="modal-lg modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="color: black;" class="modal-title" id="exampleModalLongTitle">Select which books you want to import.</h5>
                    <button type="button" class="btn btn-dark close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modalForm" class="row justify-content-center">
                        <!-- Space for JS inserting -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button name="modalSubmit" type="button" class="close btn btn-dark" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>